@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;0,600;1,200;1,300&display=swap');
body{
    font-family: 'Raleway', sans-serif;
    margin:0;
    padding:0;
}

.container{
    border:1px solid grey;
}
.title{
    font-weight: 700px;
    font-size: 50px;;
}
.form-rounded{
    border-radius:1.5em;
}
.main-card{
    /* border-radius:1.5em !important; */
}
.card-top{
    position:absolute;
    width:100%;
}
.card-top p{
    font-size: 16pt;
    font-weight: 400;
}
.card-top span{
    font-weight: 400;
    font-size: 36pt;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top:-60px;
    padding-bottom: 20px;
}
.main-card img{
    width:100%;
    height:195px;
    white-space: nowrap;
    box-shadow: 1px 2px #6C63FF;
    border-radius: 100%;
}

.temp span{
    font-size: 4.5em;
    font-weight: 100;
    letter-spacing: -5px;
    white-space: nowrap;
}
.card-mid{
    line-height: 0.5;
}
.conditionA{
    line-height: 1em;
    font-weight: 600;
    font-size: 1em;
    text-transform: capitalize;
}
.highA::before{
    background:url('');
    width:10px;
    height:14px;
    display: inline-block;
    position:relative;
    top:3px;
}
.lowA::before{
    background:url('');
    width:10px;
    height:15px;
    display: inline-block;
    position:relative;
    top:3px;
}
.icon-container{
    border-radius: 100%;
    width:100px;
    height:100px;
    background:lightgrey;
}
.icon-container img{
    margin:auto;
}

.card-bottom{
    line-height: 0.5;
}
.card-bottom span{
    font-size:12px;
}
.card-bottom p{
    font-size: 40px;
    font-weight: 90;
    letter-spacing: -1;
}
.time-date{
    font-size:30px;
    font-weight: 150;
    letter-spacing: 1;
    position:relative;
    top:30px;
    border-radius: 5px;
    margin-bottom: 20px;
    border:none;
    padding:0px 15px 0px 15px;
}
